header{

    background-color:rgba(68, 27, 72, 0.804);
    padding: 10px 5px 10px 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aliceblue
}
header ul{
    position: fixed;
}
header ul li {

    display: inline;
    padding: 10px 5px 10px 5px ;
    margin: 10px 5px 10px 5px;
/* background-color: rgba(137, 43, 226, 0.167); */



}
header ul li >a{

    color:azure;
    border-style:none;
    text-decoration: double;
    margin: 10px 5px 10px 5px;
    text-align: left;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header ul li a:hover{


border-bottom: 3px solid rgb(10, 217, 249);


}

h3 a{

    text-decoration: double;
    color: rgb(170, 95, 216);
}
h3 a:hover{

background-color: rgb(55, 243, 237);
    border-bottom: 3px solid rgb(85, 38, 240);
}

div {
/* background-color:darkcyan; */
text-align: center;
padding: 20px 10px 20px 10px;

}

div h2 b:hover{

    background-color: rgb(251, 255, 0);
}

div p{

    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div p a{

    text-decoration: double;
    color: red;
}

div p a:hover{

    background-color: blue;
}

div hr{

    font-size: 20px;
}

#boyf{

    background-color:rgba(68, 27, 72, 0.804);
    padding: 20px 10px 20px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
color: azure;
}
#boyf address{
    font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main address,time{

    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.x{
    text-align: center; 
    font-size: xx-large; 
   font-family: revert;
   
}
.z{
    
    color: darkblue;
    text-align: center;
}
.z ul li{
    display: inline;
    margin: 5px;
    padding: 10px;
    
}
.z ul{
    text-align: center;
}
.a{
    display: flex;
    flex-wrap: wrap;
}
.b{
    display: block;
    width: 40%;
    height: 20%;
    /* border: 1px solid; */
    margin: 20px;
    padding: 20px;
    transition: transform 1s;
  

}
.b:hover{
    transform: scale(1.1);

}
.b img{
    width: 100%;
    height: 600px;
}
header h2{
    color: rgb(214, 27, 27);
    text-align: center;
}
header h3{
    text-align: center;
    color: rgba(109, 123, 226, 0.993);
}
body{
    background-color: rgba(58, 1, 55, 0.758);
    margin: 0;
    padding: 0;
}

@media screen and (max-width:700px) {
    header{

        background-color:rgba(68, 27, 72, 0.804);
        padding: 10px 5px 10px 5px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:aliceblue
    }
    header ul{
        position: fixed;
    }
    header ul li {
    
        display: inline;
        padding: 10px 5px 10px 5px ;
        margin: 10px 5px 10px 5px;
    /* background-color: rgba(137, 43, 226, 0.167); */
    
    
    
    }
    header ul li >a{
    
        color:azure;
        border-style:none;
        text-decoration: double;
        margin: 10px 5px 10px 5px;
        text-align: left;
        font-size: 14px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    header ul li a:hover{
    
    
    border-bottom: 3px solid rgb(10, 217, 249);
    
    
    }
    
    h3 a{
    
        text-decoration: double;
        color: rgb(170, 95, 216);
    }
    h3 a:hover{
    
    background-color: rgb(55, 243, 237);
        border-bottom: 3px solid rgb(85, 38, 240);
    }
    
    div {
    /* background-color:darkcyan; */
    text-align: center;
    padding: 20px 10px 20px 10px;
    
    }
    
    div h2 b:hover{
    
        background-color: rgb(251, 255, 0);
    }
    
    div p{
    
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    div p a{
    
        text-decoration: double;
        color: red;
    }
    
    div p a:hover{
    
        background-color: blue;
    }
    
    div hr{
    
        font-size: 20px;
    }
    
    #boyf{
    
        background-color:rgba(68, 27, 72, 0.804);
        padding: 20px 10px 20px 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: azure;
    width: 100%;
    }
    #boyf address{
        font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    main address,time{
    
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .x{
        text-align: center; 
        font-size: xx-large; 
       font-family: revert;
       
    }
    .z{
        
        color: darkblue;
        text-align: center;
    }
    .z ul li{
        display: inline;
        margin: 5px;
        padding: 10px;
        
    }
    .z ul{
        text-align: center;
    }
    .a{
        display: flex;
        flex-wrap: wrap;
    }
    .b{
        display: block;
        width: 30%;
        height: 15%;
        /* border: 1px solid; */
        margin: 20px;
        padding: 20px;
        transition: transform 1s;
      
    
    }
    .b:hover{
        transform: scale(1.1);
    
    }
    .b img{
        width: 100%;
        height: 300px;
    }
    header h2{
        color: rgb(214, 27, 27);
        text-align: center;
    }
    header h3{
        text-align: center;
        color: rgba(109, 123, 226, 0.993);
    }
    body{
        background-color: rgba(58, 1, 55, 0.758);
        margin: 0;
        padding: 0;
    }
    
}